.img2 {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-radius: 10px;
    background-color: black;
    margin-left: 25vh;
}
header img {
    padding: 10px;
    background-color: #65869c;
    border-radius: 5px;
    object-fit: cover;
    height: 30vh;
    width: 190vh;
    margin: 10px; 
}
h1 {
    font-family: sans-serif;
    text-decoration: none;
    color: #fcfdfd;
    display: inline;
    background-color: #65869c;
    padding: 10px;
    border-radius: 10px 0px;
    position: relative;
    top: 10px; left: 10px;
    
}

nav :hover {
    background-color: rgba(17, 163, 189, 0.288);
}

nav {
    text-align: end;
    width: 95%;
    position: absolute;

}


a {
    width: 50px;
    height: 20px;
    text-align: center;
    margin: 2px;
    background-color: rgb(1, 0, 8);
    color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

a[href="#"] {
    background-color: rgba(17, 163, 189, 0.288);
}

body {
    background-color: #344955;
    height: 100vh;
}

main {
    min-height: 70vh;
}

main img {
    padding: 10px;
    background-color: #65869c;
    border-radius: 5px;
    object-fit: cover;
    height: 30vh;
    width: 98%;
    margin: 10px;
}

.parrafos {
    background-color: #65869c;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    min-height: 15vh;
    font-family: sans-serif;
}



.subtitle {
    background-color: #394755;
    color: aliceblue;
    border-style: solid;
    margin: 1rem;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 10px;
}
main div{
    display: flex;
    display: inline;
    align-items: center;
    justify-content: center;
}
main aside{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h5{
    background-color:#65869c;
    height: 5vh;
    width: 30vh;
    padding: 1vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 85vh;
    border-style: solid;

}

.text2 {
        width: 110vh;
        height: 5vh;
        border-style: solid;
        background-color:#65869c;
        border-radius: 1rem;
        display: flex;
        justify-content:center ;
        align-items: center;
        margin-left: 25%;
}
main aside {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-style: solid;
    background-color: #65869c;
    border-radius: 10px;
    padding: 10px;
    width: 50vh;
    margin-left: 75vh;

}
main section{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

footer h5 {
    background-color: #65869c;
    height: 5vh;
    width: 100%;
    text-align: center;
}
