.img2 {
    height: 50px;
    width: 50px;
    border-style: solid;
    border-radius: 10px;
    background-color: black;
    margin-left: 25vh;
}

h1 {
    font-family: sans-serif;
    text-decoration: none;
    color: #fcfdfd;
    display: inline;
    background-color: #65869c;
    padding: 10px;
    border-radius: 10px 0px;
    position: relative;
    top: 10px; left: 10px;
    
}

nav :hover {
    background-color: rgba(17, 163, 189, 0.288);
}

nav {
    text-align: end;
    width: 95%;
    position: absolute;
    
}

a {
    width: 50px;
    height: 20px;
    text-align: center;
    margin: 2px;
    background-color: rgb(1, 0, 8);
    color: aliceblue;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    font-family: sans-serif;
}
a[href="#"] {
    background-color: rgba(17, 163, 189, 0.288);
}

body {
    background-color: #344955;
    height: 100vh;
}
header img {
    padding: 10px;
    background-color: #65869c;
    border-radius: 5px;
    object-fit: cover;
    height: 30vh;
    width: 190vh;
    margin: 10px; 
}
.text2 {
    width: 110vh;
    height: 5vh;
    border-style: solid;
    background-color:#65869c;
    border-radius: 1rem;
    display: flex;
    justify-content:center ;
    align-items: center;
    margin-left: 25%;
}

main{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.listado{
    background-color: rgb(181, 218, 235);
    width: 70vh;
    height: 70vh;
    border-style: solid;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin: 2rem;
}
.tabla {
    background-color: rgb(181, 218, 235);
    width: 70vh;
    height: 70vh;
    border-style: solid;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    margin: 2rem;
    justify-content: center;
}

.maps{
    width: 180vh;
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.maps h4{
    background-color: rgb(36, 107, 107);
    display: flex;
    width: 20vh;
    height: 5vh;
    justify-content: center;
    align-items: center;
    border: solid 5px rgb(16, 184, 86);
    border-radius: 5px;

}
.tablaylistado{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

table, tr, th, td, tbody, thead{
    border: 4px solid cornsilk;
    border-collapse: collapse;
}

footer h5 {
    background-color: #65869c;
    height: 5vh;
    width: 100%;
    text-align: center;
}